
.artwork_component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px
}

.artwork_component h2{
    color: linear-gradient(to right, #675dd0, #8aedda);
}

.artwork__returnLink{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.artwork__createComponent{
    display: flex;
    align-items: flex-start;
    font-size: 36px;
}

.artwork__createComponentUploadWrapper{
    display: flex;
    flex-direction: column;
}

.artwork__createComponentUploadOuterWrapper{
    display: flex;
    gap: 50px;
    margin: 40px;
}

.artwork__createComponentUploadWrapper{
    display: flex;
    flex-direction: column;
}

.artwork__createComponentUpload h3{
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    font-size: 20px;
}

.artwork__createComponentUploadButton{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border: 2px dashed white;
    border-radius: 16px;
    height: 100px;
}

.artwork__createComponentUploadButton button {
    text-align: center;
    padding-top: 8px;
    width: 80px;
    border-radius: 25px;
    height: 25px;
    text-decoration: none;
    background-image: linear-gradient(to right, #675dd0, #8aedda);
    color: white;
    cursor: pointer;
}

/* .artwork__createComponentUploadButton input {
    align-self: center;
} */

.artwork__createComponentUploadButton p{
    margin-bottom: 15px;
}
    

.artwork__createComponentSubmissionField{
    display: flex;
    border-width: 0px 0px 2px;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    min-height: 48px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom-color: white;
    border-style: solid;
    transition: all 0.12s ease-in-out 0s;
    outline: none;
    margin-bottom: 30px;
    
}

.artwork__createComponentSubmissionField input{
    outline: none;
    border: none;
    background-color: rgb(18, 18, 18);
    color: white;
    width: 300px;
}

.artwork__createComponentSubmissionFields{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
}


.artwork__previewComponent{
    display: flex;
    flex-direction: column;
}

.artwork__createComponentSubmissionButton{
    margin-top: 20px;
}

.artwork__createComponentSubmissionButton input {
    text-align: center;
    /* padding-top: 8px; */
    width: 120px;
    border-radius: 25px;
    height: 40px;
    text-decoration: none;
    background-image: linear-gradient(to right, #675dd0, #8aedda);
    color: white;
    cursor: pointer;
    border: none;
}

.artwork__previewComponent h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.artwork__previewComponentText{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    border-radius: 16px;
    border: 1px solid white;
}

.artwork__previewComponentText p{
    margin: 20px;
    font-size: 15px;
    color: gray;
}

.artwork__previewComponentText img{
    height: 390px;
    width: 390px;
    border-radius: 16px;
}


.date-picker{
    align-self: center;
}


