.comment-input{
    background-color: transparent ;
    text-decoration: none;
    border-radius: 25px;
    padding: 5px;
    border: white solid 1px;
    resize: none;
    padding: 10px;
    text-align: center;
    color: white;
    max-width: 500px;
    width: 500px;
}


.new-comment-input:focus{
    outline: none;
}

.post-button{
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    height: 25px;
    text-decoration: none;
    background-image: linear-gradient(to right, #675dd0, #8aedda);
    color: white;
    border: none;
    width: 300px;
    
}

.comment-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    width: 600px;
}